Items_not_to_sync/Compare_CRM_vs_DW_v2.py
Items_not_to_sync/CRM_Query.py
Items_not_to_sync/UNPW.py
Items_not_to_sync/__pycache__/CRM_Query.cpython-310.pyc
Items_not_to_sync/__pycache__/UNPW.cpython-310.pyc
Python_data_comparison_2022-02-04.txt
